body {
    margin: 0;
}

.base {
    height: 600px;
    background-color: white;
    display: flex;
    justify-content: center;
}

.base .sub_background {
    position: absolute;
    width: 100%;
    height: 480px;
    bottom: 0px;
}

.base .logo {
    position: absolute;
    top: 60px;
    z-index: 1;
    border-radius: 100px;
}

.base .login_form {
    position: absolute;
    bottom: 60px;
    width: 100%;
}

.base .login_form ::placeholder {
    color: black;
}

.base .login_form input {
    width: 95%;
    height: 25px;
    border-radius: 3px;
    border: none;
    padding-left: 15px;
}

.base .login_form button {
    width: 100%;
    height: 28px;
    border: 1px solid black;
    border-radius: 12px;
}


.base .login_form .mk{
    position: relative;
}

.base .login_form .eye_btn {
    position: absolute;
    width: 32px;
    font-size: 20px;
    top: 61px;
    right: 0px;
    background: none;
    padding-right: 40px;
    
}

.submit_btn {
    width: 200px !important;
}

.submit_btn a{
    color: #0A3730;
    display: block;
    text-decoration: none;
    width: 100%;
    font-weight: 700;
}

.login_form{
    text-align: center;
}

h1 {
    color: white;
}



.abc {
    background-color: #0000008a;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    top: 0;
    display: flex;
    justify-content: center;
}


.infor_form {
    position: absolute;
    bottom: 200px;
    z-index: 5;
    background-color: white;
    text-align: center;
    width: 50%;
    border-radius: 10px;
}

.infor_form .manv {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 20px;
    padding-left: 20px;
    background-color: #868686;
}

.infor_form .manv .span1 {
    left: 5%;
    position: absolute;
}

.infor_form .manv .span2 {
    right: -35%;
    position: relative;
    display: inline;
}

.infor_form input {
    width: 90%;
    padding: 12px;
    padding-left: 20px;
    border: none;
    border-radius: 20px;
    background-color: #D9D9D9;
}

.infor_form input::placeholder {
    color:  black;
}


.submit {
    margin-bottom: 12px;
}

.submit .submit_btn {
    width: 20% !important;
    margin-left: 70px;
    margin-right: 70px;
}

.btn1 {
    border-radius: 10px;
}

.btn1:hover {
    background-color: gray;
}

.btn2 {
    border-radius: 10px;
    background-color: #0A3730;
    border: 2px solid #0A3730;
}

.btn2:hover {
    background-color: #0a3730ad;
}

.btn2 a {
    color: white;
}


.infor_form .h1_1 {
    color: black !important;
}

.infor_form .h1_2 {
    color: #0A3730 !important;
}